@font-face {
  font-family: 'Merriweather Sans Light';
  src: url('./fonts/MerriweatherSans-Light.ttf') format('truetype');
  font-weight: 300 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans Regular';
  src: url('./fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* #app {
  margin: 0;
} */

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Merriweather Sans Regular', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
